<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Learning Management System</title>
	<!-- meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //meta-tags -->

	<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome -->
	<link href="static/css/font-awesome.css" rel="stylesheet">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
	<!-- header -->
	<div class="header-top">
		<div class="container">
			<div class="bottom_header_left">
				<p>
					<span class="fa fa-map-marker" aria-hidden="true"></span>HYDERABAD, INDIA
				</p>
			</div>
			<div class="bottom_header_right">


				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="header">
		<div class="content white">
			<nav class="navbar navbar-default" >
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{url_for('index')}}">
							<h1>
								<span class="fa fa-leanpub" aria-hidden="true"></span>LMS Moodle
								<label>Education & Courses</label>
							</h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="" class="effect-3"></a>
								</li>
								<li>
									<a href="" class="effect-3"></a>
								</li>
								<li>
									<a href="" class="effect-3"></a>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" >

									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href=""></a>
										</li>
										<li>
											<a href=""></a>
										</li>
									</ul>
								</li>
								<li>
									<a href="{{url_for('index')}}" class="effect-3">Home</a>
								</li>
								<li>
									<a href="{{url_for('courses')}}" class="effect-3">Courses</a>
								</li>
								<li>
									<a href="{{url_for('register')}}" class="effect-3">Join Us</a>
								</li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

		</div>
	</div>
	<!-- //short-->
	<!-- blog -->
	<div class="blog-cource">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>P</span>opular
					<span>C</span>ourses
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="blog-info">
				<div class="col-xs-4 blog-grid-img">
					<img src="static/images/c2.jpg" class="img-responsive" alt="" />
				</div>
				<div class="col-xs-8 blog-grid-text">
					<h4>Web Technology</h4>
					<h6>Arun</h6>
					<p>Web technology refers to the means by which computers communicate with each other using markup languages and multimedia packages. It gives us a way to interact with hosted information, like websites. Web technology involves the use of hypertext markup language (HTML) and cascading style sheets (CSS).</p>
					<a class="button-style" href="{{url_for('register')}}">Apply Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo blog-info-mdl">
				<div class="col-xs-8 blog-grid-text">
					<h4>Machine Learning</h4>
					<h6>Saurabh</h6>
					<p>Machine learning is the science of getting computers to act without being explicitly programmed. In the past decade, machine learning has given us self-driving cars, practical speech recognition, effective web search, and a vastly improved understanding of the human genome. Machine learning is so pervasive today that you probably use it dozens of times a day without knowing it. Many researchers also think it is the best way to make progress towards human-level AI. In this class, you will learn about the most effective machine learning techniques, and gain practice implementing them and getting them to work for yourself.  </p>
					<a class="button-style" href="{{url_for('register')}}">Apply Now</a>
				</div>
				<div class="col-xs-4 blog-grid-img blog-img-rght">
					<img src="static/images/c1.jpg" class="img-responsive" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-info">
				<div class="col-xs-4 blog-grid-img">
					<br><br>
					<img src="static/images/c3.jpg" class="img-responsive" alt="" />
				</div>
				<div class="col-xs-8 blog-grid-text">
					<h4>Python</h4>
					<h6>Asokan</h6>
					<p>Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, and a syntax that allows programmers to express concepts in fewer lines of code,[25][26] notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales.[27]

Python features a dynamic type system and automatic memory management. It supports multiple programming paradigms, including object-oriented, imperative, functional and procedural, and has a large and comprehensive standard library</p>
					<a class="button-style" href="{{url_for('register')}}">Apply Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="blog-agileinfo blog-info-mdl">
				<div class="col-xs-8 blog-grid-text">
					<h4>Artificial Interlligence</h4>
					<h6>Asokan</h6>
					<p>Artificial Intelligence is the simulation of human intelligence processes by machines, especially computer systems. These processes include learning (the acquisition of information and rules for using the information), reasoning (using the rules to reach approximate or definite conclusions), and self-correction. Particular applications of AI include expert systems, speech recognition and machine vision.</p>
					<a class="button-style" href="{{url_for('register')}}">Apply Now</a>
				</div>
				<div class="col-xs-4 blog-grid-img blog-img-rght">
					<img src="static/images/c7.jpg" class="img-responsive" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //blog -->

	<!-- footer -->
	<div class="mkl_footer">
		<div class="sub-footer">
			<div class="container">
				<div class="mkls_footer_grid">
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Location:</h4>
						<p><br> Hyderabad, India</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Mail Us:</h4>
						<p>
							<span>Phone : </span>001 234 5678</p>
						<p>
							<span>Email : </span>
							<a href="mailto:info@example.com">lmsdjango@gmail.com</a>
						</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Opening Hours:</h4>
						<p>Working days : 8am-10pm</p>
						<p>Sunday
							<span>9am-2pm</span>
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="botttom-nav-allah">
					<ul>
						<li>
							<a href="{{url_for('index')}}">Home</a>
						</li>
						<li>
							<a href="{{url_for('courses')}}">Courses</a>
						</li>
						<li>
							<a href="{{url_for('register')}}">Join Us</a>
						</li>
					</ul>
				</div>

	<!-- js files -->
	<!-- js -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.js"></script>
	<!-- stats numscroller-js-file -->
	<script src="js/numscroller-1.0.js"></script>
	<!-- //stats numscroller-js-file -->
	<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

</body>

</html>
