<html>
  <body>
    <div class="login-form">
       <form method=POST action="{{ url_for('course_accept') }}">
        <div class="form-submit">
          {{ student['_id']}} {{ student['name']}}  <input type="submit" class="form-submit" class="login-form" class="submit_1 btn btn-primary btn-block" value="Accept">


    </div>
    </form>
    </div>

  </body>
</html>
