<html>
  <body>
    <center><h1>Sample Instructor Page</h1></center>
    <div class="login-form">
       <form method=POST action="{{ url_for('course_status') }}">
        <div class="form-submit">
          <input type="submit" class="submit_1 btn btn-primary btn-block" value="View Student Requests">
        </div>
    </form>
  </div>

  <br><br>

  <div class="login-form">
     <form method=POST action="{{ url_for('course_request') }}">
      <div class="form-submit">
        <input type="submit" class="submit_1 btn btn-primary btn-block" value="View Accepted Students">
      </div>
  </form>
</div>

  </body>
</html>
