<html>
  <body>
    <div class="login-form">
       <form method=POST action="{{ url_for('course_accept') }}">
        <div class="form-submit">
          {{ student_status['_id']}} {{ student_status['name']}}

          {% block content %}
          {% if student_status['accept_request'] == "1" : %}
              <h3 style="color:red;">Accepted</h3>
          {% else : %}
            <input type="submit" class="form-submit" class="login-form" class="submit_1 btn btn-primary btn-block" value="Accept">


          {% endif %}
          {% endblock %}



    </div>
    </form>
    </div>

  </body>
</html>
