<!DOCTYPE HTML>
<html>
<head>
<title>Learning Management System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="static/courses/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/courses/js/jquery.min.js"></script>
<script src="static/courses/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="static/courses/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="static/courses/css/jquery.countdown.css" />
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="static/courses/css/font-awesome.css" rel="stylesheet">
<!----font-Awesome----->
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
			<br>
	        <a class="navbar-brand" href="index.html">LMS</a>
	    </div>
	    <!--/.navbar-header-->
	    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
	        <ul class="nav navbar-nav">
				<li class="dropdown">
				<br>
        <div class="header-top-righ">
          <span>{{request.form['username']}}</span><br>
              <a href="{{url_for('logout')}}">
                 <span class="fa fa-sign-out" aria-hidden="true"></span>Logout</a>
               </div>
			</ul>
	    </div>
	    <div class="clearfix"> </div>
	  </div>
	  <br>
	    <!--/.navbar-collapse-->
</nav>

<!-- banner -->
  <div class="courses_banner">
  	<div class="container">
  		<h3>Courses</h3>
  		<p class="description">
             They help the instructor deliver material to the students, administer tests and other assignments, track student progress, and manage record-keeping. LMSs are focused on online learning delivery but support a range of uses, acting as a platform for fully online courses, as well as several hybrid forms, such as blended learning and flipped classrooms. LMSs can be complemented by other learning technologies such as a training management system to manage instructor-led training or a  Learning Record Store to store and track learning data.
        </p>
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a href="index.html">Home</a></li>
                <li class="current-page">Courses</li>
            </ul>
        </div>
  	</div>
   </div>
    <!-- //banner -->

	<div class="courses_box1" class="courses_banner">
	   <div class="container">


		<div class="col-md-9">
			<div class="course_list">

                <div class="table-header clearfix">
                	<div class="id_col">ID</div>
                	<div class="name_col">Course Name</div>
                    <div class="duration_col">Duration</div>
                    <div class="date_col">Start Date</div>
    			</div>
                <ul class="table-list">
                    <li class="clearfix">
    					<div class="id_col">WT - 001</div>

        				<div class="name_col"><a href="{{url_for('WebTechnologies')}}">Web Technologies</a></div>

        				<div class="duration_col">9 Months</div>

        			</li>

    				<li class="clearfix">
    					<div class="id_col">ML - 002</div>

        				<div class="name_col"><a href="{{url_for('MachineLearning')}}">Machine Learning </a></div>

        				<div class="duration_col">5 Months</div>

        			</li>

    				<li class="clearfix">
    					<div class="id_col">PY - 003</div>

        				<div class="name_col"><a href="{{url_for('Python')}}">Python</a></div>

        				<div class="duration_col">5 Months</div>

        			</li>

    				<li class="clearfix">
    					<div class="id_col">AI - 004</div>

        				<div class="name_col"><a href="{{url_for('ArtificialIntelligence')}}">Artificial Intelligence</a></div>

        				<div class="duration_col">4 Months</div>

        			</li>
				</ul>
               </div>

		    </div>

		    <div class="clearfix"> </div>
	   </div>
	</div>
    <!-- footer -->
	<div class="mkl_footer">
		<div class="sub-footer">
			<div class="container">
				<div class="mkls_footer_grid">
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Location:</h4>
						<p><br> Hyderabad, India</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Mail Us:</h4>
						<p>
							<span>Phone : </span>001 234 5678</p>
						<p>
							<span>Email : </span>
							<a href="mailto:info@example.com">lmsdjango@gmail.com</a>
						</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Opening Hours:</h4>
						<p>Working days : 8am-10pm</p>
						<p>Sunday
							<span>9am-2pm</span>
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="botttom-nav-allah">
					<ul>
						<li>
							<a href="{{url_for('index')}}">Home</a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href="{{url_for('courses')}}">Courses</a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href="{{url_for('register')}}">Join Us</a>
						</li>
					</ul>
				</div>
<!-- FlexSlider -->
<link href="static/courses/css/flexslider.css" rel='stylesheet' type='text/css' />
  <script defer src="static/courses/js/jquery.flexslider.js"></script>
  <script type="text/javascript">
	$(function(){
	  SyntaxHighlighter.all();
	});
	$(window).load(function(){
	  $('.flexslider').flexslider({
		animation: "slide",
		start: function(slider){
		  $('body').removeClass('loading');
		}
	  });
	});
  </script>
<!-- FlexSlider -->
</body>
</html>
